## Some Important Series Methods

In [1]:
# value_counts
# sort_values
# rank
# sort index
# set index
# rename index -> rename
# reset index
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# apply
# isin
# corr
# nlargest ->nsmallest
# inert
# copy

In [2]:
import numpy as np
import pandas as pd

In [5]:
a = pd.Series([1,1,1,2,2,3])
a.value_counts()

1    3
2    2
3    1
Name: count, dtype: int64

In [4]:
# value_counts(series and dataframe)
marks = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14]
    ], columns=['iq', 'marks', 'package'])
marks

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     70       14

In [7]:
marks.value_counts()

iq   marks  package
80   70     14         1
90   70     7          1
100  80     10         1
120  100    14         1
Name: count, dtype: int64

In [ ]:
ipl = pd.read