# Practice

In [4]:
l = [1,2,3,4,"danish", "ansari", [1,2,3,4,5,6]]

In [5]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)

In [6]:
l1

[1, 2, 3, 4]

In [7]:
l

[1, 2, 3, 4, 'danish', 'ansari', [1, 2, 3, 4, 5, 6]]

In [8]:
l3 = []
for i in l :
    if type(i) == list :
        for j in i:
            l3.append(j)
    else:
        if type(i) == int or type(i) == float :
            l3.append(i)

In [9]:
l3

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [10]:
list = []

In [11]:
def extract_num(l):
    for i in l :
        if type(i) == list :
            for j in i:
                list.append(j)
        else:
            if type(i) == int or type(i) == float :
                list.append(i)
    return list

In [12]:
extract_num(l)

[1, 2, 3, 4]

In [13]:
s = "This is my string class"

In [14]:
len(s)

23

In [15]:
s.find('i') #finds first occurance

2

In [16]:
s.count('i')

3

In [17]:
s.count('my')

1

In [18]:
s.count('s')

5

In [19]:
s.upper()

'THIS IS MY STRING CLASS'

In [20]:
s

'This is my string class'

In [21]:
s.replace('my', 'your')

'This is your string class'

In [22]:
marks = int(input("Enter your marks: "))
if(marks >= 75):
    print("Grade A+")
elif marks >= 60 and marks < 75:
    print("Grade A")
elif marks >=45 and marks <60 :
    print("Grade B")
else:
    print("Grade C")

Grade C

In [23]:
a = input("Hi , what's your name?")
a

'Danish'

# List
- Ordered collection of items.
- Mutable (can be changed).
- Uses square brackets `[]`.

Example:
```python
a = [1, 2, 3]
a.append(4)

In [24]:
l = [1, 3.14, 7+ 5j, True, 'Danish']

In [25]:
l[0]

1

In [26]:
l[:]
l[::]

[1, 3.14, (7+5j), True, 'Danish']

In [27]:
l[::-1]

['Danish', True, (7+5j), 3.14, 1]

In [28]:
l[::2]

[1, (7+5j), 'Danish']

In [29]:
l[1:4:2]

[3.14, True]

In [30]:
l[0:4]

[1, 3.14, (7+5j), True]

In [31]:
l

[1, 3.14, (7+5j), True, 'Danish']

In [32]:
s = "pwskills"

In [33]:
l+s

TypeError: can only concatenate list (not "str") to list

In [ ]:
t = ['Rohit', 3, 3.5]

In [ ]:
l + t

[1, 3.14, (7+5j), True, 'Danish', 'Rohit', 3, 3.5]

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish']

In [ ]:
t

['Rohit', 3, 3.5]

In [ ]:
s

'pwskills'

In [ ]:
print(l,t,s)

[1, 3.14, (7+5j), True, 'Danish'] ['Rohit', 3, 3.5] pwskills

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish']

In [ ]:
type(l[3])

bool

In [ ]:
l[4]

'Danish'

In [ ]:
l[4][:2]

'Da'

In [ ]:
str(l[3][0:2])

TypeError: 'bool' object is not subscriptable

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish']

In [ ]:
l.append(5)
l

[1, 3.14, (7+5j), True, 'Danish', 5, 5]

In [ ]:
l.append(s)

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish', 5, 5, 'pwskills']

In [ ]:
l.extend('sudh')

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish', 5, 5, 'pwskills', 's', 'u', 'd', 'h']

In [ ]:
l

[1, 3.14, (7+5j), True, 'Danish', 5, 5, 'pwskills', 's', 'u', 'd', 'h']

In [ ]:
l.extend(3,4,5)

TypeError: list.extend() takes exactly one argument (3 given)

In [ ]:
l1

[1, 2, 3, 4]

In [ ]:
l + l1

[1,
 3.14,
 (7+5j),
 True,
 'Danish',
 5,
 5,
 'pwskills',
 's',
 'u',
 'd',
 'h',
 1,
 2,
 3,
 4]

In [ ]:
l.extend([3,4,5])

In [ ]:
l

[1,
 3.14,
 (7+5j),
 True,
 'Danish',
 5,
 5,
 'pwskills',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5]

In [ ]:
l.append([99,98]) #adds in list of list

In [ ]:
l

[1,
 3.14,
 (7+5j),
 True,
 'Danish',
 5,
 5,
 'pwskills',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5,
 [99, 98]]

In [ ]:
l.extend([44,55,66]) #in adds in existing list

In [ ]:
l

[1,
 3.14,
 (7+5j),
 True,
 'Danish',
 5,
 5,
 'pwskills',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5,
 [99, 98],
 44,
 55,
 66]

In [ ]:
l1

[1, 2, 3, 4]

In [ ]:
l1.insert(1, "danish")

In [ ]:
l1

[1, 'danish', 2, 3, 4]

In [ ]:
l1.insert(2, [2,3,4])

In [ ]:
l1

[1, 'danish', [2, 3, 4], 2, 3, 4]

In [ ]:
l1.insert(-1, 45)

In [ ]:
l1

[1, 'danish', [2, 3, 4], 2, 3, 45, 4]

In [ ]:
l1.insert(0,45)

In [ ]:
l1

[45, 1, 'danish', [2, 3, 4], 2, 3, 45, 4]

In [ ]:
l1.pop()

4

In [ ]:
l1

[45, 1, 'danish', [2, 3, 4], 2, 3, 45]

In [ ]:
l1.pop()

45

In [ ]:
l1

[45, 1, 'danish', [2, 3, 4], 2, 3]

In [ ]:
l1.remove(3)

In [ ]:
l1

[45, 1, 'danish', [2, 3, 4], 2]

In [ ]:
l1[3].remove(3)

In [ ]:
l1

[45, 1, 'danish', [2, 4], 2]

In [ ]:
l1.append(4)

In [ ]:
l1

[45, 1, 'danish', [2, 4], 2, 4, 4]

In [ ]:
l1.pop()

4

In [ ]:
l1

[45, 1, 'danish', [2, 4], 2, 4]

In [ ]:
l1.remove(4)

In [ ]:
l1

[45, 1, 'danish', [2, 4], 2]

In [ ]:
l1[::-1]

[2, [2, 4], 'danish', 1, 45]

In [ ]:
l1

[45, 1, 'danish', [2, 4], 2]

In [ ]:
l1.insert(-1, 4)

In [ ]:
l1

[45, 1, 'danish', [2, 4], 4, 2]

In [ ]:
l1.remove(2)

In [ ]:
l1

[45, 1, 'danish', [2, 4], 4]

In [ ]:
l1[::-1]

[4, [2, 4], 'danish', 1, 45]

In [ ]:
l1.remove(1)

In [ ]:
l1

[45, 'danish', [2, 4], 4]

In [ ]:
l1[::-1]

[4, [2, 4], 'danish', 45]

In [ ]:
l1.insert(2, 'sudh')

In [ ]:
l1.remove('danish')

In [ ]:
l1

[45, 'sudh', [2, 4], 4]

In [ ]:
l1.reverse()

In [ ]:
l1

[4, [2, 4], 'sudh', 45]

In [ ]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
l2 = [34,54,23,1,6,4,6,7,8,9]

In [ ]:
l2.sort()
l2

[1, 4, 6, 6, 7, 8, 9, 23, 34, 54]

In [ ]:
l4 = ['danish', 'ansari', 'data science', 'scientist']

In [ ]:
l4.sort()
l4

['ansari', 'danish', 'data science', 'scientist']

In [ ]:
l4.reverse

In [ ]:
l4

['scientist', 'data science', 'danish', 'ansari']

In [ ]:
l4

['scientist', 'data science', 'danish', 'ansari']

In [ ]:
l4.sort()

In [ ]:
l4

['ansari', 'danish', 'data science', 'scientist']

In [ ]:
l4.index("danish")

1

In [ ]:
s = 'danish'

In [ ]:
l5 = [3,4,5,6]

In [ ]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
l5

[3, 4, 5, 6]

In [ ]:
l5[0] = 30 #int support item assignment

In [ ]:
l5

[30, 4, 5, 6]

In [ ]:
type(l5)

list

In [ ]:
type(l1)

list

In [ ]:
l1

[4, [2, 4], 'sudh', 45]

In [ ]:
s

'danish'

In [ ]:
s.replace('d', 'R')

'Ranish'

In [ ]:
s

'danish'

## Tuples

In [ ]:
t = (2,3,4,5, 'danish', 43.56, False, 45+445j, [3,4,5])

In [ ]:
type(t)

tuple

# Tuple
- Ordered collection of items.
- Immutable, cannot be changed after creation.
- Written using parentheses `()`.

Example:
```python
t = (1, 2, 3)

In [ ]:
t = (2,3,4,5,"sudh" , 45.56, False , 45+457j , [3,4,5] )

In [ ]:
type(t)

tuple

In [ ]:
len(t)

9

In [ ]:
t[0]

2

In [ ]:
t[-1]

[3, 4, 5]

In [ ]:
t[-1].pop()

5

In [ ]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 4])

In [ ]:
t[-1].insert(-1,5)

In [ ]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 5, 5, 5, 4])

In [ ]:
t[-1].remove(5)

In [ ]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 5, 4])

In [ ]:
t[::-1]

([3, 5, 4], (45+457j), False, 45.56, 'sudh', 5, 4, 3, 2)

In [ ]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 5, 4])

In [ ]:
t[0] = 'danish'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.count(4)

1

In [ ]:
t.index(False)

6

In [ ]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 5, 4])

# Set
- Unordered collection of unique elements.
- Mutable.
- Written using curly braces `{}` or `set()`.

Example:
```python
s = {1, 2, 3}

In [34]:
s1 = {}

In [35]:
type(s1)

dict

In [36]:
s2 = {2,3,4,55,6}

In [37]:
type(s2)

set

In [38]:
s3 = {23,45,2,'danish', 4+7j, True, (3,4,5)}
s3

{(3, 4, 5), (4+7j), 2, 23, 45, True, 'danish'}

In [39]:
type(s3)

set

In [4]:
s4 = { 2,2,2,2,3,4,5,4,3,5,'danish','danish','rohit'}

In [5]:
s4

{2, 3, 4, 5, 'danish', 'rohit'}

In [6]:
s4 = list(set(s4))

# Dictionary
- Collection of key-value pairs.
- Unordered before Python 3.7, insertion-ordered from Python 3.7+.
- Mutable.
- Written using curly braces `{}`.

Example:
```python
d = {"name": "Alice", "age": 25}

In [8]:
d = {}

In [9]:
type(d)

dict

In [14]:
d2 = {'name' : 'Dansih', 'email' : 'danis@gmail.com', 'number' : 7300969491}
d2

{'name': 'Dansih', 'email': 'danis@gmail.com', 'number': 7300969491}

{'name': 'Dansih', 'email': 'danis@gmail.com', 'number': 7300969491}

In [15]:
d3 = { 234 : 'sudh', '_wer' : 'kumar', True : 2345}
d3

{234: 'sudh', '_wer': 'kumar', True: 2345}

In [ ]:
d3[234], d3[True]

('sudh', 2345, 2345)

In [22]:
d3[1]

2345

In [25]:
d3[True]

2345

In [24]:
d3['_wer']

'kumar'

In [ ]:
d4 = {'name':"sudh" , 'mail_id' :"ss@gmail.com" ,"name":"sudhanshu"}