# for loop

In [1]:
s = 'danish'

In [6]:
s[:], s[::-1]

('danish', 'hsinad')

In [5]:
s

'danish'

In [9]:
for i in s :
    print(i.upper())

D
A
N
I
S
H

In [10]:
l = [2,3,4,5,6]

In [11]:
type(l)

list

In [13]:
for i in l:
    print(i)

2
3
4
5
6

## Range

In [14]:
range(5)

range(0, 5)

In [15]:
list(range(4))

[0, 1, 2, 3]

In [16]:
range(4, 40)

range(4, 40)

In [17]:
list(range(4,40))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [18]:
list(range(4,40,3))

[4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37]

In [22]:
s = 'danish'
for i in range(len(s)):
    print(s[i])

d
a
n
i
s
h

In [34]:
s = 'sudhanshu'
for i in range(0, len(s), 2):
    print(s[i])

s
d
a
s
u

In [35]:
s[::-1]

'uhsnahdus'

In [36]:
s

'sudhanshu'

In [42]:
list(range(len(s)-1, -1, -1))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [43]:
for i in range(len(s)-1, -1, -1):
    print(s[i])

u
h
s
n
a
h
d
u
s

## Patterns

In [49]:
n = 10
for i in range(n):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [59]:
n = 10
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [61]:
n = 10
for i in range(1, n+1):
    print(" " *(n-i) + "*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [62]:
n =10
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [69]:
n =6
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i-1))
for i in range(n-1,0,-1):
    print(" "*(n-i) + "*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *